html,body{
  width:100%;
  height:100%;
}

header#mainImg{
   width:100%;
   position:relative;
   min-width:1000px;
   min-height:490px;
   overflow:hidden;
   padding:0;

}

header#mainImg .main_img{
   height:auto;
   top: 0;
   position: absolute;
   right: 0;
   left: 0;
   margin: 0 auto;
   width: 100%;
}

header#mainImg .title_img{
  max-width: 30%;
  height: auto;
  top: 0;
  /* margin-left: -57px; */
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  margin-top: 190px;
  min-width: 500px;
}

header form{
    height: 120px;
    position: absolute;
    /* top: 70%; */
    left: 0;
    background-color: rgba(199,145,145,0.8);;
    right: 0;
    margin: 0 auto;
    margin-top: 355px;
    width: 350px;
}

#login_form div{
   margin: 10px;
   height: 20px;
}

#login_form div label{
   color: #FFF;
   font-weight: bold;
   display: inline-block;
   width: 80px;
   height: 10px;
}

#login_form div input{
    padding: 0;
    width: 65%;
    display: inline;
}

#login_form input[type='submit']{
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 0;
    padding: 3px;
    font-size: 12px;
    color: #ffffff;
    background-color: #C06F6B;
    font-weight: bold;;
}

#login_form a{
  text-decoration: none;
  color:#ffffff;
  display:block;
  margin:5px 0 0 20px;
}

nav{
  height:80px;


background-color:#eeeeee;
width: 100%;
}

nav ul{
  margin: 0 auto;
    width: 80%;
  height:80px;
  padding: 10px 0 0 0;
}

nav ul li.item_button,
nav ul li.cart_button{
  float:left;
}


nav ul li.item_button_li{
  width:55%;
  float:left;

}

nav ul li.cart_button_li{
  float:left;
  width:35%;
  display:block;
  margin-left:20px;

}

nav ul li a{
  background-color: rgba(199,145,145,0.8);
  display:inline-block;
  text-decoration: none;
  width:100%;
  padding:20px 0 0 0;
  font-size:25px;
  height:40px;
  color:#ffffff;
}

nav ul li a:hover{
  background-color: rgba(199,145,145,0.8);
}

nav ul li a.item_button{
  text-align:center;
}

nav ul li a.cart_button{
  display:inline-block;
  text-align:center;
}


#login_form p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 15px 0 20px 0;
    font-weight: bold;
}

#login_form a.buttons{
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 0px auto 5px auto;
    font-weight: bold;
    width: 50%;
    background-color: #C06F6B;
    border-radius: 5px;
    padding: 5px;
}

/**product_contents
/**----------------------------------------------**/


#product_contents{
width: 100%;
margin: 40px 0;
}

#product_contents h2{
  width:90%;
  margin:0 auto;
  text-align:center;
}
#product_contents h2 img{
  max-width:100%;
  height:auto;
}

#product_contents ul {
  width:90%;
  margin:0 auto;

  -moz-column-count: 3;
-webkit-column-count: 3;
-o-column-count: 3;
-ms-column-count: 3;
}

#product_contents ul li{
  text-align:center;
  height:550px;
  position:relative;

}

#product_contents ul li a{
  text-decoration:none;
  color:#D09D66;
}
#product_contents ul li a:hover{
  color:#D09D66;
  border-color: #ffffff;
  border: none;
  opacity: 0.7;
}

#product_contents ul li p{
  font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 0px;
}

#product_contents ul li p span{
  display: block;
}

/**news_contents
/**----------------------------------------------**/
#news_contents{
width: 100%;
margin: 40px 0;
}

#news_contents h2{
  width:90%;
  margin:0 auto;
  text-align:center;
}
#news_contents h2 img{
  max-width:100%;
  height:auto;
}

#news_contents dl{
  width:75%;
  margin:0 auto;
  text-align:left;;

}

#news_contents dl dt{
  width:50%;
  margin:0 auto 4px auto;
  font-size:14px;

}

#news_contents dl dd{
  width:45%;
  margin:0 auto 20px auto;
  font-size:14px;

}

/**nav
/**----------------------------------------------**/
header {
  width:100%;
  background-color:#EEEEEE;
  padding:15px 0;

}

header h1#logo a{
  background-color:rgba(199,145,145,0.8);
  display:inline-block;
  text-decoration:none;
  width:10%;
  font-size:15px;
  height:20px;
  color:#ffffff;
  text-align:center;
  padding:10px 0;
  float:left;
  margin-left:20px;

}

header ul{
  width:80%;
  float:left;
  margin-left:40px;

}

header li{
  float:left;
  font-size:15px;
  text-align:center;
  margin:0 15px;
}

header li a{
  background-color:rgba(199,145,145,0.8);
  display:inline-block;
  text-decoration:none;
  font-size:15px;
  height:20px;
  color:#ffffff;
  text-align:center;
  float:left;
  padding:10px 20px;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

form input[type='submit']{
  border:0;
  padding:10px 5%;
  margin:5px;
  background-color:#CEA3A3;
  color:#FFF;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;

}

body h2{
  font-size:24px;
  width:90%;
  text-align:left;
  background-color:#CEA3A3;
  color:#ffffff;
  padding:10px 20px;;
  border-radius:5px;
  margin:20px auto;

}

body h2.bg_none{
  background-color:#fff;
  padding:0;
  border-radius:0;
  font-size:12px;
}

body table {
  width:90%;
  margin:0 auto;
}

table th{
  padding:10px;
  color:#ffffff;
  background-color:#000000;
  border:1px solid #ABABAb;
  border-collapse:collapse;
}

table tr {}

table tr td{
  padding: 10px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    border-collapse: collapse;
}

table.user_table th{
  width:10%;

}